/* General styles */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* header styles */

header {
  background-color: rgba(255, 144, 14, 0.1);
}
nav h3 {
  font-size: 45px;
  font-weight: bold;
}
nav {
  display: flex;
  padding-top: 60px;
  justify-content: space-around;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  font-size: 18px;
  font-weight: medium;
  margin-left: 50px;
}
.banner h3 {
  font-size: 64px;
}
.banner p {
  font-size: 16px;
  margin: 30px 0;
}
.banner button,
.quick-list-text button {
  margin-bottom: 50px;
  font-size: 20px;
  color: white;
  background-color: #ff900e;
  border-radius: 5px;
  border: 0;
  padding: 20px 25px;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 205px;
  padding-bottom: 45px;
}
.banner img,
.quick-list img,
.features img {
  width: 100%;
}
/* main part starts */
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

/* images and text side by side */

.quick-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 85px;
}

/* images in 2 columns */

.quick-list figure {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: end;
  gap: 24px;
}
.quick-list-text {
  max-width: 537px;
  margin-left: 73px;
}
.quick-list-text h2 {
  font-size: 45px;
  color: #727272;
}
.quick-list-text p {
  color: #727272;
  margin: 30px auto;
}
.black {
  color: #131313;
}
.orange {
  color: #ff900e;
}
/* features */
.features {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 130px auto 130px;
}
.features-text {
  max-width: 586px;
  margin-top: 30px;
}
.features h2 {
  border-left: 2px solid #ff900e;
  padding-left: 15px;
}
.features-text > p {
  margin: 24px auto 30px;
}
.features-text p {
  color: #727272;
}
.features-text > div {
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #727272;
  border-radius: 5px;
}
.features-image {
  position: relative;
}
.experience {
  max-width: 250px;
  height: 150px;
  background-color: #ff900e;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  left: -50px;
  bottom: -80px;
}
.experience h1 {
  font-size: 65px;
}
.e-small {
  font-size: 25px;
}
/* facts section */
.facts p {
  color: #727272;
  margin: 24px auto 100px;
}
.numbers {
  display: flex;
  justify-content: center;
  gap: 125px;
}
.numbers > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff900e;
  border-radius: 5px;
  padding: 30px 35px 10px;
}

/* animation */
.numbers img {
  animation: roll 3s infinite;
  transform: rotate(30deg);
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* sponsors */
.sponsors-text {
  text-align: center;
}
.sponsors-text h2 {
  margin: 180px 0 24px 0;
  font-size: 45px;
}
.sponsors-text p {
  font-size: 16px;
  color: #727272;
  margin-bottom: 50px;
}
.sponsors-image > figure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 155px;
  filter: grayscale(100%);
}
/* footer */
footer > p {
  height: 100px;
  background-color: #fff4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px auto 216px auto;
}
