/* General styles */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

/* header styles */

header {
  background-color: rgba(255, 144, 14, 0.1);
}
nav h3 {
  font-size: 45px;
  font-weight: bold;
}
nav {
  display: flex;
  padding-top: 60px;
  justify-content: space-around;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  font-size: 18px;
  font-weight: medium;
  margin-left: 50px;
}
.banner h3 {
  font-size: 64px;
}
.banner p {
  font-size: 16px;
  margin: 30px 0;
}
.banner button,
.quick-list-text button {
  margin-bottom: 50px;
  font-size: 20px;
  color: white;
  background-color: #ff900e;
  border-radius: 5px;
  border: 0;
  padding: 20px 25px;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 205px;
  padding-bottom: 45px;
}
.banner img,
.quick-list img,
.features img {
  width: 100%;
  /* filter: grayscale(); */
  /* opacity: 0.1; */
}
/* main part starts */
main,
footer {
  margin: 0 auto;
}

/* images and text side by side */

.quick-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 85px;
}

/* images in 2 columns */

.quick-list figure {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: end;
  gap: 24px;
}
.quick-list-text {
  max-width: 537px;
  margin-left: 73px;
}
.quick-list-text h2 {
  font-size: 45px;
  color: #727272;
}
.quick-list-text p {
  color: #727272;
  margin: 30px auto;
}
.black {
  color: #131313;
}
.orange {
  color: #ff900e;
}
/* features */
.features {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 130px auto 130px;
}
.features-text {
  max-width: 586px;
  margin-top: 30px;
}
.features h2 {
  border-left: 2px solid #ff900e;
  padding-left: 15px;
}
.features-text > p {
  margin: 24px auto 30px;
}
.features-text p {
  color: #727272;
}
.features-text > div {
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #727272;
  border-radius: 5px;
}
.features-image {
  position: relative;
}
.experience {
  width: 340px;
  height: 200px;
  background-color: #ff900e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: -50px;
  bottom: -80px;
}
.experience h1 {
  font-size: 3rem;
}
.e-small {
  font-size: 25px;
}
/* facts section */
.facts {
  max-width: 1440px;
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 130px auto 130px;
}
.facts p {
  color: #727272;
  margin: 24px auto 100px;
}
.numbers {
  display: flex;
  justify-content: center;
  gap: 125px;
}
.numbers > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff900e;
  border-radius: 5px;
  width: 240px;
  height: 240px;
}

/* animation */
.numbers img {
  position: relative;
  animation: roll 3s infinite;
}
@keyframes roll {
  0% {
    left: 0px;
    top: 0;
  }
  25% {
    left: 40px;
    /* transform: rotate(30deg); */
  }
  50% {
    left: 0;
    /* transform: rotate(0); */
  }
  75% {
    left: -40px;
    /* transform: rotate(-30deg); */
  }
  100% {
    left: 0;

    /* transform: rotate(360deg); */
  }
}

/* sponsors */
.sponsors-text {
  text-align: center;
}
.sponsors-text h2 {
  margin: 180px 0 24px 0;
  font-size: 45px;
}
.sponsors-text p {
  font-size: 16px;
  color: #727272;
  margin-bottom: 50px;
}
/* sponsors-image or Marquee */

:root {
  --marquee-width: 99vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  /* background-color: #111; */
  color: #eee;
  overflow: hidden;
  position: relative;
}
/* .marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
} */
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 2;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}

/* footer */
footer > p {
  height: 100px;
  background-color: #fff4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px auto 50px auto;
}
footer h2 {
  font-size: 50px;
  text-align: center;
}
.social-media ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
.social-media li {
  list-style-type: none;
}

/* for mobile */

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column-reverse;
  }
  nav ul {
    display: block;
  }
  nav h3 {
    margin-left: 20px;
  }
  nav li {
    margin-left: 1em;
  }
  .menu ul,
  nav div {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .quick-list-text {
    display: none;
  }
  .quick-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 85px;
  }
  .quick-list figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
  }
  .banner {
    margin-top: 50px;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 130px auto 130px;
  }
  .numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sponsors-text h2 {
    margin: 20px;
  }

  footer > p {
    margin: 20px;
  }
}
